altair
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
clean-text
click
colorama
commonmark
cssselect
decorator
emoji
entrypoints
feedfinder2
feedparser
filelock
ftfy
gitdb
GitPython
idna
importlib-metadata
jieba3k
Jinja2
joblib
jsonschema
lxml
MarkupSafe
newspaper3k
nltk
numpy
openpyxl
packaging
pandas
Pillow
protobuf
pyarrow
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
regex
requests
requests-file
rich
semver
sgmllib3k
six
smmap
soupsieve
streamlit
textblob
tinysegmenter
tldextract
toml
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
zipp